<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block scripts_head %}
        <script type="text/javascript" src="{{ asset('components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
        <!--[if lt IE 9]>
            <script src="{{ asset('components/html5shiv/dist/html5shiv.js') }}"></script>
        <![endif]-->
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('components/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('components/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('components/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all" />
        <!--[if lt IE 7]>
            <link rel="stylesheet" href="{{ asset('components/font-awesome/css/font-awesome-ie7.min') }}" type="text/css" media="all" />
        <![endif]-->        
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/general.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/profile.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/nested-list.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap-extended.css') }}" type="text/css" media="all" />
    {% endblock %}

    {% block icons %}
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
  </head>

  <body>

    {% block navbar %}
      {% include 'AdmingeneratorGeneratorBundle::base_admin_navbar.html.twig' %}
    {% endblock navbar %}

    <div class="container-fluid">
      {% block flashes %}
        <div id="flashes" class="row-fluid">
          {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
              <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage|raw }}
              </div>
            {% endfor %}
          {% endfor %}
        </div><!--/.row-fluid -->
      {% endblock %}

      {% block body %}
        <div class="row-fluid">
        </div><!--/.row-fluid -->
      {% endblock %}

      {% block footer %}
      <footer>
        <hr>
        <p>{% block footer_text %}&copy; Symfony2Admingenerator {{ ("now"|date('Y') > 2012) ? '2012 - ' ~ "now"|date('Y') : '2012' }}{% endblock %}</p>
      </footer>
      {% endblock %}
    </div> <!--/.container-fluid -->


  </body>
</html>
