{% use "../CommonAdmin/EditTemplate/actions.php.twig" %}
{% use "../CommonAdmin/EditTemplate/fieldset.php.twig" %}

{% block form %}
    {{ echo_block('form') }}
    <form class="admin_form"
        {{ echo_if (builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ) }}
            action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_update", "{ 'pk': " ~ builder.ModelClass ~ "."~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ " }" ) }}"
        {{ echo_else() }}
            action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_create" ) }}"
        {{ echo_endif () }}
        method="post" {{ echo_twig("form_enctype(form)") }}>

        {{ echo_twig("form_errors(form)") }}
        {% if tabs is defined and tabs|length > 0 %}
        <div>
        {% endif %}
        {{ echo_block('form_fieldsets') }}
            {% for fieldset in builder.fieldsets|keys %}
                {{- block('form_fieldset') }}
            {% endfor -%}
        {{ echo_endblock('form_fieldsets') }}
        {% if tabs is defined and tabs|length > 0 %}
        </div>
        {% endif %}

        {{ echo_twig("form_rest(form)") }}

        {{ echo_block("form_buttons") }}
            <div id="edit-actions" class="actions form-actions">
                {{ block("form_actions") }}
            </div>
            {{ block('edit_actions_script') }}
        {{ echo_endblock() }}
    </form>
    {{ echo_endblock() }}
{% endblock %}