{% block object_actions %}
    {{ echo_block("object_actions") }}
        {% if object_actions is defined  and object_actions|length > 0 %}
        <td class="td_object_actions">
            <div class="object_actions">
            {% set popupActions = [] %}
            {{ echo_set('actions', '[]', false) }}
            {% for action in builder.ObjectActions %}
                {{ echo_setstart('action') }}
                    {{ echo_block('td_list_object_actions_' ~ action.name) }}
                        {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                            {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials'), builder.ModelClass ) }}
                        {% endif -%}
                            {% if action.conditionalFunction %}
                                {{ echo_if ((action.conditionalInverse == 'true' ? 'not ' : '') ~ builder.ModelClass ~ "." ~ action.conditionalFunction ~ '(' ~ action.conditionalParameters|join(',') ~')') }}
                            {% endif %}

                                {{ block('object_action_block') }}
                            {% if action.conditionalFunction %}
                                {{ echo_endif () }}
                            {% endif %}
                        {%- if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                            {{ echo_endif () }}
                        {% endif %}
                    {{ echo_endblock() }}
                {{ echo_setend () }}
                {{ echo_if ('action|trim') }}
                    {{ echo_set('actions', 'actions|merge([action])', false) }}
                {{ echo_endif () }}
            {% endfor %}
            {{ echo_set('popupActions', '[]', false) }}
            {{ echo_for('action', 'actions') }}
                {% block object_actions_length %}
                    {{ echo_if('actions|length > 2') }}
                        {{ echo_if('loop.index > 1') }}
                            {{ echo_set('popupActions', 'popupActions|merge([action])', false) }}
                        {{ echo_else () }}
                            {{ echo_twig('action|raw') }}
                        {{ echo_endif () }}
                    {{ echo_else () }}
                        {{ echo_twig('action|raw') }}
                    {{ echo_endif () }}
                {% endblock object_actions_length %}
            {{ echo_endfor() }}
            {{ echo_if('popupActions|length') }}
                <div class="popup">
                    {{ echo_block('popup_content') }}
                        {{ echo_twig('popupActions|join("")|raw') }}
                    {{ echo_endblock('popup_content') }}
                </div>
            {{ echo_endif () }}
            {{ echo_block('td_list_object_actions_customActions') }}{{ echo_endblock() }}
            </div>
        </td>
        {% endif -%}
    {{ echo_endblock() }}
{% endblock %}

{% block object_actions_script %}
    {{ echo_block("object_actions_script") }}
    {% if object_actions is defined and object_actions|length > 0 %}
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/object-actions.js")') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#table-list-{{ builder.ModelClass }}").agen$objectActions({
            	actionsSelector: '.object_actions a'
            });
        });
    </script>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}

{% block object_action_block %}
    {% set actionRoute  = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_object') %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{ 'pk': " ~ builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ ", action: '" ~ action.name ~ "' }" %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% spaceless %}
    {{ echo_spaceless() }}
    <a  class="{{ action.name }} {{ action.class|default('') }}" href="{{ echo_path(actionRoute, actionParams) }}" 
        title="{{ echo_trans(action.label, {}, translationDomain) }}"
        {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain) }}" {% endif -%}
        {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
        <i class="{{ action.icon ? action.icon : 'i_' ~ action.name }}"></i>
        <span>{{- echo_trans(action.label, {}, translationDomain) -}}</span>
    </a>
    {{ echo_endspaceless() }}
    {% endspaceless %}
{% endblock %}
