{% block list_filters %}
    {#          объявляем массив items    #}
    {{ echo_set("items" , "[ ]", false) }}
    {# Отображение выбранных фильтров в отдельном блоке #}
     {% for field in builder.filterColumns %}
        {% if builder.filterColumns[field.name].credentials %}
            {{ echo_if_granted(builder.filterColumns[field.name].credentials) }}
        {% endif %}
        {{ echo_set("items", "items|merge( { (form['"~field.name~"'].vars.label) : form['" ~ field.name ~ "'].vars.data } )", false) }}
        {% if builder.filterColumns[field.name].credentials %}
            {{ echo_endif () }}
        {% endif %}
    {% endfor %}
    <div class="selected_filters">
    {#    пробегаем по массиву сформированому выше #}
        {{ echo_for( "name, value", "items") }}
        {#               если value это массив то пробегаем по нему и заносим значение в value_in_array  #}
            {{ echo_if( "value != ''") }}
                {{ echo_if("value is iterable") }}
                    {{ echo_for("value_in_array","value") }}
                       {{ echo_if("value_in_array!=''") }}
                            <span>{{ echo_twig("name") }}
    {#                            возможна ошибка если виджет состоит из нескольких подвиджетов #}
                                {{ echo_twig("value_in_array|date('Y-m-d')") }} 
                            <a class="link_icon" onclick="delete_control('{{ echo_twig("name") }}');"><i class="i_close"></i></a></span>
                        {{ echo_endif() }}
                    {{ echo_endfor() }}
                {{ echo_else() }}
                    {{ echo_if("value!=''") }}
                        <span>{{ echo_twig("name") }}
                        {{ echo_twig("value") }}
                        <a class="link_icon" onclick="delete_control('{{ echo_twig("name") }}');"><i class="i_close"></i></a></span>
                    {{ echo_endif() }}
                {{ echo_endif() }}       
            {{ echo_endif() }}
        {{ echo_endfor() }}
    {#        скрипт для удаление блока с необходимым контролом; принимает label фильтра #}
    <script>
        function delete_control(name){
            $('label:contains('+ name +')').closest('div').remove();
                   $('.btn-primary').click();
    }
    </script>
    </div>
    {{ echo_block('list_filters') }}
    <a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
    <div class="list_filters">
        <form action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_filters" ) }}" method="post" {{ echo_twig("form_enctype(form)") }}>
            <legend>{{ echo_trans('list.filters') }}</legend>
            <fieldset class="form_block form_fieldset_NONE">
                {{ echo_twig("form_errors(form)") }}

                {% for field in builder.filterColumns %}
                    
                    {% if builder.filterColumns[field.name].credentials %}
                        {{ echo_if_granted(builder.filterColumns[field.name].credentials) }}
                    {% endif %}
                    {# заносим в массив key=> label фильтра, value=> значение  #}
                    {{ echo_set("items", "items|merge( { (form['"~field.name~"'].vars.label) : form['" ~ field.name ~ "'].vars.data } )", false) }}
                    {{ echo_twig("form_row(form['" ~ field.name ~ "'], {'formType': '" ~ builder.filterColumns[field.name].formType ~ "', 'icon': '" ~ builder.filterColumns[field.name].icon ~ "'})") }}
                    {% if builder.filterColumns[field.name].credentials %}
                        {{ echo_endif () }}
                    {% endif %}
                    
                {% endfor %}
                {{ echo_twig("form_rest(form)") }}
            </fieldset>
            <div class="actions form-actions">
                <button type="submit" class="btn btm-small btn-primary"><i class="icon-search icon-white"></i> {{ echo_trans('list.button.filter') }}</button>
                <button type="submit" class="btn btm-small" name="reset" value="true"><i class="icon-refresh"></i> {{ echo_trans('list.button.reset') }}</button>
            </div>
        </form>
    </div>
    {{ echo_endblock() }}
{% endblock list_filters %}

