{% use '../CommonAdmin/thead_th_sortable.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{% block list_thead %}
{{ echo_block("list_thead") }}
<thead>
    <tr class="list_thead">
    {% set batch = 0 %}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        {% set batch = 1 %}
        {{ block('th_batch_actions') }}
    {% endif %}
    {% set display_tablet = builder.columns('display_tablet')|keys %}
    {% set display_phone  = builder.columns('display_phone')|keys %}
    {% for column in builder.columns -%}
        {% if column.credentials %}
            {{ echo_if_granted(column.credentials) }}
        {% endif %}
            {{ echo_if("app.request.cookies.get('state') == 'full'") }}
                <th data-hide="" class="list_thead_column">
                    {{- block('thead_th_sortable') -}}
                </th>
            {{ echo_else() }}
                {% set data_hide = [] %}
                {% if loop.index > 7 - batch %}
                    {% set data_hide = data_hide|merge(['desktop_big']) %}
                {% endif %}
                {% if ((not display_tablet) and (loop.index > 5 - batch)) or (display_tablet and (column.name not in display_tablet)) %}
                    {% set data_hide = data_hide|merge(['tablet']) %}
                {% endif %}
                {% if ((not display_phone) and (loop.index > 3 - batch)) or (display_phone and (column.name not in display_phone)) %}
                    {% set data_hide = data_hide|merge(['phone']) %}
                {% endif %}
                <th data-hide="{{ data_hide|join(',') }}" class="list_thead_column">
                    {{- block('thead_th_sortable') -}}
                </th>
            {{ echo_endif() }}
        {% if column.credentials %}
            {{ echo_endif () }}
        {% endif %}
    {% endfor -%}

    {%- if object_actions|length > 0 -%}
        {{ echo_if("app.request.cookies.get('state') == 'full'") }}
            <th data-hide="" class="actions"> 
                {{ echo_trans('list.header.actions') }}
            </th>
        {{ echo_else() }}
            <th data-hide="{{ builder.columns|length > (7 - batch) ? 'phone,tablet,desktop_big' : (builder.columns|length > (5 - batch)  ? 'phone,tablet' : (builder.columns|length > (3 - batch) ? 'phone')) }}" class="actions"> 
                {{ echo_trans('list.header.actions') }}
            </th>
        {{ echo_endif() }}
    {% endif -%}
    </tr>
</thead>
{{ echo_endblock() }}
{% endblock %}