/*************************** Base styles *************************/
/*
    @color-link: #128bbd;
    @color-border: #c3c3c3;
    @color-main: #008abd;
    @color-dark-main: #005b7d;
    @color-light-main: #CBE6F2;
    @color-gray: #bfbfbf;
    @color-hover: #0f769f;
*/

/*color status 7*/
@color-green: #8dc63f;
@color-yellow: #ffd507;
@color-red: #c80808;
@color-orange: #ffa900;
@color-blue: #56c6f2;
@color-magenta: #c879c7;
@color-neon: #009999;
@color-brown: #6a3908;

@icon-white: url(../../../../../../../bundles/admingeneratorgenerator/images/icon_white.svg); 
@icon-blue: url(../../../../../../../bundles/admingeneratorgenerator/images/icon_blue.svg);
@check-radio: url(../../../../../../../bundles/admingeneratorgenerator/images/checkradio.svg);
@icon-more-info: url(../../../../../../../bundles/admingeneratorgenerator/images/icon_more_info.svg);
@icon-close: url(../../../../../../../bundles/admingeneratorgenerator/images/icon_close.svg);
@icon-arrow-prev: url(../../../../../../../bundles/admingeneratorgenerator/images/arrow_prev.svg);
@icon-arrow-next: url(../../../../../../../bundles/admingeneratorgenerator/images/arrow_next.svg);
@logo-footer: url(../../../../../../../bundles/admingeneratorgenerator/images/logo_footer.svg);
@icon_google: url(../../../../../../../bundles/admingeneratorgenerator/images/icon_google.svg);
@round-icon-size: 3.1em;

.border_box                             { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

// Colored elements
.green                                  { color: @color-green; }
.red                                    { color: @color-red; }
td.green, tr.green                      { background-color: fadeout(@color-green, 90%) !important; }
td.red, tr.red                          { background-color: fadeout(@color-red, 92%) !important; }

td.yellow, tr.yellow                    { background-color: fadeout(@color-yellow, 90%) !important; }
td.orange, tr.orange                    { background-color: fadeout(@color-orange, 80%) !important; }
td.blue, tr.blue                        { background-color: fadeout(@color-blue, 70%) !important; }
td.magenta, tr.magenta                  { background-color: fadeout(@color-magenta, 75%) !important; }
td.neon, tr.neon                        { background-color: fadeout(@color-neon, 75%) !important; }
td.brown, tr.brown                      { background-color: fadeout(@color-brown, 85%) !important; }
td.gray, tr.gray                        { background-color: fadeout(@color-gray, 50%) !important; }

// size
.small                                  { font-size: 0.85em; font-weight: normal; }
.small_gray                             { .small; color: darken(@color-gray, 30%); }
.big                                    { font-size: 1.2em; }
.w1                                     { width: 1%; }

//nowrap
.nowrap                                 { white-space: nowrap; }

//font-style
.bold                                   { font-weight: bold; }

// alignment
.ar                                     { text-align: right; }
.ac                                     { text-align: center; }
.visible                                { display: block !important; }

//Буллеты в списке в таблице
.list_bullet                            { list-style: disc; margin-left: 1em;
    li                                  { display: list-item; list-style: disc; }
}
//small inputs                  
.input_amount                           { width: 8.8em; min-width: 8em;}

.absolute_left  (@top: 0px, @left:  0px) { position: absolute; top: @top; left:  @left; }
.absolute_right (@top: 0px, @right: 0px) { position: absolute; top: @top; right: @right; }



.icon (@left: 0em, @top: 0em, @image: @icon-blue) { background-image: @image; background-position: @left (-0.3em + @top);  background-repeat:  no-repeat; background-size: 3.5em 400em;
    &.i_menu              { background-position: @left (-0.5em + @top); }
    &.i_save-and-list, 
    &.i_checkAndCreate    { background-position: @left (-5em + @top); }
    &.i_download          { background-position: @left (-9.8em + @top); }
    &.i_settings          { background-position: @left (-14.3em + @top); }
    &.i_filter            { background-position: @left (-18.8em + @top); }
    &.i_save              { background-position: @left (-23.2em + @top); }
    &.i_edit              { background-position: @left (-27.6em + @top); }
    &.i_calendar          { background-position: @left (-32.1em + @top); }
    &.i_close             { background-position: @left (-36.5em + @top); }
    &.i_table             { background-position: @left (-41.4em + @top); }
    &.i_new               { background-position: @left (-46.1em + @top); }
    &.i_list              { background-position: @left (-50.8em + @top); }
    &.i_table2            { background-position: @left (-55.3em + @top); }
    &.i_copy              { background-position: @left (-59.8em + @top); }
    &.i_search            { background-position: @left (-64.2em + @top); }
    &.i_reload            { background-position: @left (-68.7em + @top); }
    &.i_euro              { background-position: @left (-73.1em + @top); }
    &.i_dollar            { background-position: @left (-77.6em + @top); }
    &.i_rub               { background-position: @left (-82.3em + @top); }
    &.i_money, &.i_payment  { background-position: @left (-87em + @top); }
    &.i_sms               { background-position: @left (-91.6em + @top); }
    &.i_new2              { background-position: @left (-96.1em + @top); }
    &.i_case              { background-position: @left (-100.6em + @top); }
    &.i_info              { background-position: @left (-105.1em + @top); }
    &.i_phone             { background-position: @left (-109.4em + @top); }
    &.i_message           { background-position: @left (-114em + @top); }
    &.i_comment           { background-position: @left (-118.5em + @top); }
    &.i_logistic          { background-position: @left (-123em + @top); }
    &.i_invoice           { background-position: @left (-127.7em + @top); }
    &.i_attachment        { background-position: @left (-132.5em + @top); }
    &.i_client            { background-position: @left (-137em + @top); }
    &.i_more-info         { background-position: @left (-141.3em + @top); }
    &.i_password          { background-position: @left (-145.8em + @top); }
    &.i_sklad             { background-position: @left (-150.4em + @top); }
    &.i_delete            { background-position: @left (-154.7em + @top); }
    &.i_travel-list       { background-position: @left (-159.7em + @top); }
    &.i_act               { background-position: @left (-164.4em + @top); }
    &.i_nakladnaja        { background-position: @left (-169.3em + @top); }
    &.i_dogovor           { background-position: @left (-173.7em + @top); }
    &.i_garantija         { background-position: @left (-178em + @top); }
    &.i_excel             { background-position: @left (-182.5em + @top); }
    &.i_short-table       { background-position: @left (-186.9em + @top); }
    &.i_number            { background-position: @left (-191.5em + @top); }
    &.i_print             { background-position: @left (-200.90em + @top); }
    &.i_save-and-add      { background-position: @left (-196.35em + @top); }
    &.i_gallery           { background-position: @left (-205.55em + @top); }
    &.i_cart              { background-position: @left (-210.45em + @top); }
    &.i_seo               { background-position: @left (-215.25em + @top); }
    &.i_company           { background-position: @left (-220.15em + @top); }
    &.i_calc              { background-position: @left (-225.35em + @top); }
    &.i_link              { background-position: @left (-230.75em + @top); }
    &.i_clock             { background-position: @left (-235.05em + @top); }
    &.i_undo              { background-position: @left (-239.85em + @top); }
    &.i_warehouse         { background-position: @left (-243.85em + @top); }
    &.i_box               { background-position: @left (-248.45em + @top); } 
    &.i_next              { background-position: @left (-252.50em + @top); }
    &.i_graph             { background-position: @left (-256.05em + @top); }
    &.i_warning           { background-position: @left (-260.45em + @top); }
    &.i_hierarchy         { background-position: @left (-264.75em + @top); }
    &.i_star              { background-position: @left (-268.60em + @top); }
    &.i_camera            { background-position: @left (-272.55em + @top); }
    &.i_export            { background-position: @left (-277.20em + @top); }
    &.i_import            { background-position: @left (-281.95em + @top); }
    &.i_question          { background-position: @left (-285.6em  + @top); }
    &.i_equal_wave        { background-position: @left (-288.95em + @top); }
    &.i_equal             { background-position: @left (-292.00em + @top); }
    &.i_ankor             { background-position: @left (-295.60em + @top); }
    &.i_1c                { background-position: @left (-298.90em + @top); }
    &.i_ttn               { background-position: @left (-305.10em + @top); }
    &.i_usd               { background-position: @left (-307.80em + @top); }
    &.i_info2             { background-position: @left (-302.30em + @top); }
    &.i_settings_line     { background-position: @left (-311.00em + @top); }
    &.i_hand_card         { background-position: @left (-314.40em + @top); }
}

/* FORM ICON */
.form_row_icon                           { 
    .field_content                       { position: relative; 
        input, select, .select2-choice   { padding-left: 2.75em !important; }
        .input_icon                      { .icon(-0.43em, 0em, @icon-white); .absolute_left(0em, 0em); display: inline-block; width: 2.65em; height: 2.65em; background-color: @color-gray; } 
    }
}

/* BUTTONS */
.button                    { display: inline-block; padding: 0.7em; padding-top: 0.6em; color: #fff; cursor: pointer; text-decoration: none; vertical-align: middle;  background-color: @color-main; border: none; border-top: 1px solid lighten(@color-main, 10%); box-shadow: 0 1px  #000;
    &:hover:not(:disabled) { border-top-color: lighten(@color-dark-main, 10%); background-color: @color-hover; color: #fff; }
}
.button_icon               { .button; .icon(-0.3em, -0.15em, @icon-white); padding-left: 3em !important; }

/* ACTION LINKS */
.link_icon                 { position: relative; display: inline-block; vertical-align: middle; background: none; padding: 0; border: none; box-shadow: none;
    i                      { .icon(-0.25em, 0.2em, @icon-white); display: inline-block; width: @round-icon-size; height: @round-icon-size; margin-right: 0.5em; vertical-align: middle; background-color: @color-main; border-radius: 50%; content: ''; }
    &:hover                { background: none;
        i                  { background-color: @color-hover; }
    }
}
.link_icon_mini            { .link_icon; text-align: center;
    i                      { margin: 0; }
    span                   { display: block; margin-top: 0.2em; font-size: 0.7em; text-decoration: none;  }
}

/* ROUND COUNTER */
.text_round                 { display: inline-block; padding: 0 0.7em; width: auto; font-size: 1em; line-height: 1.9em; background-color: @color-main; vertical-align: middle; border-radius: 1em; color: #fff; font-style: normal; }
.text_round.green           { .text_round; background-color: @color-green; }
.text_round.red             { .text_round; background-color: @color-red; }
.text_round.yellow          { .text_round; background-color: @color-yellow; }
.text_round.orange          { .text_round; background-color: @color-orange; }
.text_round.blue            { .text_round; background-color: @color-blue; }
.text_round.magenta         { .text_round; background-color: @color-magenta; }
.text_round.neon            { .text_round; background-color: @color-neon; }
.text_round.brown           { .text_round; background-color: @color-brown; }
.text_round.gray            { .text_round; background-color: @color-gray; }

/* ROUND ICON */
.icon_round                 { .icon(-0.25em, 0.2em, @icon-white); display: inline-block; width: 3em; height: 3em; vertical-align: middle; background-color: @color-main; border-radius: 2em; font-size: 0.6em; color: #fff; }
.icon_round.green           { .icon_round; background-color: @color-green; }
.icon_round.red             { .icon_round; background-color: @color-red; }
.icon_round.yellow          { .icon_round; background-color: @color-yellow; }
.icon_round.orange          { .icon_round; background-color: @color-orange; }
.icon_round.blue            { .icon_round; background-color: @color-blue; }
.icon_round.magenta         { .icon_round; background-color: @color-magenta; }
.icon_round.neon            { .icon_round; background-color: @color-neon; }
.icon_round.brown           { .icon_round; background-color: @color-brown; }
.icon_round.gray            { .icon_round; background-color: @color-gray; }

/*INPUT_STYLE*/
.input_style ( @color-text: #000, @color_bg: #fff ) { display: inline-block; color: @color-text; font-size: 1.1em; background: @color_bg; box-shadow: 0 1px 0 @color-border; border: 1px solid @color-border; }
.input_focus            { border-color: @color-main; box-shadow: 0 0 2px lighten(@color-main, 10%); }


/*ARROWS*/
.arrow_up    ( @border_width: 0.7em, @color_border: @color-main ) { display: inline-block; margin-bottom: 0; margin-top: -@border_width; border: @border_width solid transparent; border-bottom: @border_width solid @color_border; 
    &:hover  { border-bottom: @border_width solid darken(@color_border, 5%); }   
}
.arrow_down  ( @border_width: 0.7em, @color_border: @color-gray ) { display: inline-block; margin-bottom: -@border_width; margin-top: 0; border: @border_width solid transparent; border-top: @border_width solid @color_border; 
    &:hover  { border-top: @border_width solid darken(@color_border, 5%); }      
}
.arrow_prev  { display: block; height: 1.1em; background-repeat: no-repeat; background-size: 1.1em 1.1em; background-image: @icon-arrow-prev; background-position: 1.4em 0em; }
.arrow_next  { display: block; height: 1.1em; background-repeat: no-repeat; background-size: 1.1em 1.1em; background-image: @icon-arrow-next; background-position: 1.7em 0em; }

//
.menu (@color_border: fadeout(#fff, 90%), @color_bg: lighten(@color-dark-main, 5%), @color_active: @color-main, @color_text: #fff ) { color: @color_text; background: @color_bg; border: 1px solid @color_border;
    a, span, .link                      { display: block; padding: 1em; color: @color_text; cursor: pointer; text-decoration: none; 
        &:hover                         { text-decoration: underline; }
    }
    &.active                            { background: @color_active; }
}



/* TABLE */
.table                                  { width: 100%; margin-bottom: 1em; background-color: #fff; 
    th, td                              { vertical-align: middle; 
        &:first-child                   { border-left: 1px solid @color-border; }
        &:last-child                    { border-right: 1px solid @color-border; }
    }
    th                                  { height: 2em; }
    td                                  { height: 3.1em; padding: 0.5em; border-right: 1px solid #fff; border-bottom: 1px solid @color-border; }
    tr                                  {
        &.row_total td                  { font-weight: bold; }
        &.row_highlight td              { background: @color-light-main !important; }
    }
    thead th                            { padding: 0.5em; border-right: 1px solid #fff; border-top: 1px solid #fff; background-color: @color-gray;
        a                               { color: #000; }
    }  
    tbody tr                            { 
        &.even                          { background-color: rgba(0, 0, 0, 0.02); }
        &:hover                         { background-color: fadeout(@color-yellow, 85%) !important; }
    }
    tfoot td                            { .ar; background-color: @color-gray; font-weight: bold; }
    //для неадаптивных таблиц
    &:not(.table_responsive) tbody tr:nth-child(2n) { background-color: rgba(0, 0, 0, 0.02); } 
    //input inside table
    input[type="text"]:not(.select2-input),
    input[type="password"],  input[type="phone"],
    input[type="number"], input[type="email"],
    input[type="date"],  input[type="file"], input[type="time"],
    textarea, select, .select2-choice             { min-width: 5em; max-width: 5em; }
    .select2-container,  .select2-container-multi { min-width: 7em; }
}

/* SMALL TABLE inside big table */
.table table                            { font-size: 0.9em; width: 100%;
    td, th                              { padding: 3px !important; height: auto !important; border-color: #fff !important; background: lighten(@color-gray, 17%); border-top: 1px solid #FFFFFF; 
        .popup                          { 
            .popup_content              { top: 2em; }
        }
    }
    .amount                             { .bold;  }
    .total                              { .bold; }
}

//Стили для выпадающего списка(кол-во отображаемых эл-тов на стр, магазины, языки, например)
.drop_list_style (@color-arrow: @color-gray, @color-hover: @color-main)   { position: relative; display: inline-block;
    .selected                               { .input_style; display: block; padding: 0.5em 1.7em 0.5em 0.7em; text-decoration: none;
        &:after                             { .absolute_right(0.9em, 0.3em); .arrow_down(0.4em, @color-arrow); content: ''; }
    }
    ul                                      { .absolute_right(100%, 0); .input_style; .border_box; display: none; min-width: 100%; padding: 0.3em; z-index: 2; 
        a                                   { display: block; padding: 0.3em; text-decoration: none; 
            &:hover                         { background: @color-hover; color: #fff; }
        }
    }
    &:hover                                 {
        ul                                  { .input_focus; display: block; }
        .selected                           { .input_focus; }
    }
}

//Стили для попапа в таблице для обжект акшинсов
.popup_style (@top: 2em, @right: 0em)     { display: inline-block; position: relative; padding: 1em 0.5em;
    .popup_arrow                            { .arrow_down; }
    .popup_content                          { .absolute_right(@top, @right); .input_style; .input_focus; visibility: hidden; padding: 0.8em; z-index: 1; font-size: 1em; }
    &:hover .popup_content                  { visibility: visible; }
    &:hover .popup_arrow                    { .arrow_down; cursor: pointer; }
}

//Стили для табов
// item of menu-tab
.tabs_style (@color-background: @color-main, @color-selected: lighten(@color-gray, 20%), @color-hover: @color-light-main) { overflow: auto; width: 100%; margin-top: -1.5em; background: @color-gray; .nowrap;
    a                                       { display: inline-block; padding: 1em; background: @color-background; color: #fff; text-decoration: none;
        &.selected                          { background-color: @color-selected; color: #000; }
        &:hover                             { background-color: @color-hover; color: #000; } 
    }
}

//Стили для toggle 
.toggle_arrow                               { .arrow_down; }
.toggle                                     { display: none; padding: 0.5em 0.5em 0.5em 0 }


/* Toast*/
.toast-container               { width: 20em; z-index: 9999; }
* html .toast-container        { position: absolute; }
.toast-item                    { position: relative; display: block; height: auto; margin: 0 0 12px 0; background: @color-gray; opacity: 0.9; padding: 20px 6px;  border: 2px solid @color-main; }
.toast-item p                  { margin: 1em 0 0 3.5em; }
.toast-item-close              { .icon_round; .icon(-0.25em, -36.0em, @icon-white); width: 0px; padding-left: 3em !important; position: absolute; top:6px; right:7px; }
.toast-item-image              { width:32px; height: 32px; position: absolute; top: 50%; margin-top: -16px; left: 10px; }
.toast-item-image-notice       { .icon_round; background-color: @color-neon; .icon(-0.25em, -118em, @icon-white); margin-top: -1em; font-size: 0.8em;   }
.toast-item-image-success      { .icon_round; background-color: @color-green; .icon(-0.25em, -22.8em, @icon-white); margin-top: -1em; font-size: 0.8em; }
.toast-item-image-warning      { .icon_round; background-color: @color-yellow; .icon(-0.25em, -113.6em, @icon-white); margin-top: -1em; font-size: 0.8em;  }
.toast-item-image-error        { .icon_round; background-color: @color-red; .icon(-0.25em, -104.7em, @icon-white); margin-top: -1em; font-size: 0.8em; }
.toast-type-warning            { border-color: @color-yellow; }
.toast-type-error              { border-color: @color-red; }
.toast-position-top-left       { position: fixed; left: 20px; top: 20px; }
.toast-position-top-center     { position: fixed; top: 20px; left: 50%; margin-left: -140px;}
.toast-position-top-right      { position: fixed; top: 20px; right: 20px;}
.toast-position-middle-left    { position: fixed; left: 20px; top: 50%; margin-top: -40px;}
.toast-position-middle-center  { position: fixed; left: 50%; margin-left: -140px; margin-top: -40px; top: 50%; }
.toast-position-middle-right   { position: fixed; right: 20px; margin-left: -140px; margin-top: -40px; top: 50%; }
.toast-position-bottom-left    { position: fixed; left: 20px;bottom: 20px; margin-top: 40px;}
.toast-position-bottom-center  { position: fixed; left: 50%; margin-left: -140px;margin-top: 40px; bottom: 20px;}
.toast-position-bottom-right   { position: fixed; right: 20px; margin-left: -140px; margin-top: 40px; bottom: 20px; }