{# extends 'form_div_layout.html.twig' #}

{% block form_rows %}
{% spaceless %}
    {% if options is defined %}
        {% for child in form %}
            {{ form_row(child, options) }}
        {% endfor %}
    {% else %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_rows %}

{% block form_row %}
{% spaceless %}
    <div class="form_row field_{{ form.vars.name }} field_{{ formType|default('default') }} {% if errors|length > 0 %} field_error{% endif %} {{ not compound ? 'field_simple' }} {{ icon is defined and icon is not empty ? 'form_row_icon' }}">
        {{ form_label(form) }}
        <div class="field_content">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ block('form_help') }}

            {# icon #}
            {% if icon is defined and icon is not empty %}
                <span class="input_icon {{ icon }}"></span>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label onclick="" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# --- FORM ROWS --- #}

{% block date_range_row %}
    {% spaceless %}
        <div class="form_row field_{{ form.vars.name }} field_date_range">
            {{ form_label(form) }}
            <div class="field_content">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock date_range_row %}
    
{% block date_row %}
    {% spaceless %}
        {% set icon = 'i_calendar' %}
        {{ block('form_row') }}
    {% endspaceless %}
{% endblock date_row %}
    
{% block button_row %}
{% spaceless %}
    <div class="custom_filters_button">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}
    
    
{# --- FORM WIDGETS --- #}

    
{% block date_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
        <script>
            $(function() {
              $( "#{{ id }}" ).datepicker({
                  dateFormat: '{{ dateFormat }}',
                });
              $.datepicker.setDefaults($.datepicker.regional['{{locale}}']);
            });
        </script>
    {% endspaceless %}
{% endblock date_widget %}
        
{% block choice_widget_expanded %}
{% spaceless %}
        <ul {{ block('widget_container_attributes') }} class="collection">
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>        
            {% endfor %}
        </ul>        
{% endspaceless %}
{% endblock choice_widget_expanded %}        

{% block choice_javascript %}
{% spaceless %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('select#{{ form.vars.id }}').select2({
                "placeholder":  "",
                "width":        "element",
                "allowClear":   true
            });
        });
    </script>
{% endspaceless %}
{% endblock choice_javascript %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="checkbox"/>
    <i class="check"></i>
{% endspaceless %}
{% endblock checkbox_widget %}
        
{% block radio_widget %}
{% spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="checkbox"/>
    <i class="check"></i>
{% endspaceless %}
{% endblock radio_widget %}
  
{% block double_list_widget %}
{% spaceless %}
    <div class="double_list">
        <div class="unselected_list">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:unselected_list.html.twig" %}
        </div>
        <div class="controls">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:controls.html.twig" %}
        </div>
        <div class="selected_list">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:selected_list.html.twig" %}
        </div>
        {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:javascript.html.twig" %}
    </div>
{% endspaceless %}
{% endblock double_list_widget %}

{% block double_list_javascript %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/double_list.js') }}"></script>
    <script type="text/javascript">
        sfDoubleList.init(document.getElementById('{{ form.vars.id }}_selected'), 'double_list_select');
    </script>
{% endspaceless %}
{% endblock double_list_javascript %}
  
{% block afe_double_list_document_row %}
{% spaceless %}
    {% set formType = 'double_list' %}
    {{ block('form_row') }}
{% endspaceless %}
{% endblock afe_double_list_document_row %}    
    
    
{% block ajax_autocomplete_widget %}

    {% spaceless %}
        {{ form_widget(form.name) }}
        {{ form_widget(form.id) }}
    {% endspaceless %}

    {% stylesheets '@AdmingeneratorGeneratorBundle/Resources/public/css/jquery.autocomplete.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.autocomplete.js' %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
            
{% block ajax_autocomplete_js %}
    {% spaceless %}

        <script type="text/javascript">

          (function(){
                $('#{{ form.name.vars.id }}').autocomplete('{{ path (autocompleteActionRouting) }}', {
                    minChars: {{ minChars }},
                    delimiter: /(,|;)\s*/,
                    maxHeight: {{ maxHeight }},
                    width: {{ width }},
                    zIndex: 9999,
                    deferRequestBy: {{ deferRequestBy }},
                    dataType: "json",
                    extraParams: {
                        {{ extraParamsString | raw }}
                    },

                    onItemSelect: function(row) {


                            {# Для использования json данных необходимо в Контроллере,
                               который возвращает данные для выпадающего списка возвращать данные в следующем формате

$Строка_отображения_во_время_набора_с_клавиатуры . "|" . $Строка_которая_подставиться_при_выборе_из_списка . "|" . $Идентификатор . '|' . json_encode($json-данные_для_обработки_в_скрипте)

                            Сюда данные прийдут в переменной row.extra[2]
                            Для превращения их в Javascript-массив выполняем следующее

                            value1 = eval('('+row.extra[2]+')');

                            После чего в value1 у нас javascript-массив, к елементам которго можно обращатся value1.ключ_в_массиве

                            #}

                            $('#{{ form.name.vars.id }}').val(row.extra[0]);
                            $('#{{ form.id.vars.id }}').val(row.extra[1]);

                            {{ afterItemSelectJavascript | raw }}
                        }

                }).change(function(){
                                        if (!$.trim(this.value)) {
                                            $('#{{ form.id.vars.id }}').val('').change();
                                        }

                                    });
       })();
        </script>
    {% endspaceless %}
{% endblock ajax_autocomplete_js %}        
{% endblock ajax_autocomplete_widget %}  




{# block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    <div class="input_box">
        <span class="icon_box"></span>
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}
       
{% block form_widget_simple %}
{% spaceless %}
    <div class="input_box">
        <span class="icon_box"></span>
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock form_widget_simple #}
       