{% extends '../CommonAdmin/ActionsAction/ActionsBuilderAction.php.twig' %}

{% block getObject %}

    /**
     * Get object {{ model }} with identifier $pk
     *
     * @param mixed $pk
     * @return \{{ model }}
     */
    protected function getObject($pk)
    {
        ${{ builder.ModelClass }} = $this->getDocumentManager()->find('{{ model }}', $pk);

        if (!${{ builder.ModelClass }}) {
            throw new \InvalidArgumentException("No {{ model }} found on {{ builder.getFieldGuesser().getModelPrimaryKeyName(model) }} : $pk");
        }

        return ${{ builder.ModelClass }};
    }

{% endblock %}

{% block getQuery '' -%}

{% block executeObjectDelete %}

    protected function executeObjectDelete(\{{ model }} ${{ builder.ModelClass }})
    {
        $dm = $this->getDocumentManager();
        $dm->remove(${{ builder.ModelClass }});
        $dm->flush();
        $dm->clear();
    }

{% endblock %}

{% block executeBatchDelete %}

    protected function executeBatchDelete(array $selected)
    {
        $this->getDocumentManager()
             ->createQueryBuilder('{{ model }}')
             ->remove()
             ->field('_id')->in($selected)
             ->getQuery()
             ->execute();
    }

{% endblock %}
